{% extends 'customer_order/base.html' %}

{% block content %}



    <h5> Welcome, {{user}}! 👋 </h5>

    <hr> 

    <table class="table table-hover table-bordered">

        <thead class="table-light">

            <tr>
                <th scope="col"> ID </th>
                <th scope="col"> TITLE </th>
                <th scope="col"> CONTENT</th>
                <th scope="col"> PUBLICATION DATE </th>
                <th scope="col"> AUTHOR </th>
                <th scope="col"> IMAGE </th>

            </tr>

        </thead>

        <tbody>

        {% if records %}

            {% for record in records %}

            <tr>

                <td> {{record.id}} </td>
                <td> {{record.title}} </td>

                <td> {{record.content}} </td>

                <td> {{record.pub_date}} </td>
                <td> {{record.author}} </td>
                <td>
                {% if record.photo%}
                <img src="{{record.photo.url}}" alt="{{record.photo}}" width="200" height="200">
              {%endif%}</td>
              <td> <a class="btn btn-success btn-sm" href="{% url 'allrecord' record.id %}"> <span class="glyphicon glyphicon-eye-open"></span> </a> </td>

            </tr>

            {% endfor %}
        
        {% endif %}

        </tbody>
        <tfoot class="table-dark">
            <tr>
                <th scope="row">end</th>
                <td>end</td>
                <td>end</td>
                <td>end</td>
                <td>end</td>
                <td>end</td>
                <td>end</td>
            </tr>
        </tfoot>


    </table>


{% endblock %}