
{% load crispy_forms_tags %}

 <!-- Add this to the <body> section of your HTML file -->

<nav class="navbar navbar-expand-lg " style="background-color: hwb(106 18% 58%);">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item active">
              <a class="nav-link" href="{% url 'user-logout' %}">LOGOUT<span class="glyphicon glyphicon-log-out"></span></a>

            </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">DASHBOARD<span class="glyphicon glyphicon-log-out"></span></a>
          </li>
          {% else %}
          <li class="nav-item"></li>
          <a class="nav-link" href="{% url '' %}">HOME</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">REGISTER<span class="glyphicon glyphicon-user"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my-login' %}">LOGIN<span class="glyphicon glyphicon-log-in"></span></a>
        </li>
        {% endif %}
      </ul>
  </div>
</nav>
