
  <nav class="navbar navbar-inverse " style="color: forestgreen;">  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid" id="navbarNav">
    <div class="navbar-header">
      <a  href="{% url 'home' %}"class="navbar-brand btn btn-lg btn-secondary" href=""><span class="glyphicon  
        glyphicon-home">Blogsite</a>
    </div>
      
        {% if user.is_authenticated %}
        
        <ul class="nav navbar-nav">
          <li><a href="{% url 'dashboard' %}" class="btn btn-sm btn-primary"><span class="glyphicon  
            glyphicon-search"> Your Blog Site</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'dashboardall' %}"class="btn btn-sm btn-primary"><span class="glyphicon  
            glyphicon-forward"></span> Browse All Blogs</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'user-logout' %}"class="btn btn-sm btn-danger"><span class="glyphicon  
            glyphicon-log-out"></span> Logout</a></li>
        </ul>

          {% else %}
        <ul class="nav navbar-nav">
          <li><a href="{% url 'register' %}" class="btn btn-lg btn-primary"><span class="glyphicon  
            glyphicon-user"></span> Sign Up</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'my-login' %}"class="btn btn-lg btn-primary"><span class="glyphicon  
            glyphicon-log-in"></span> login</a></li>
        </ul>
        
        {% endif %}
  </div>
</nav>

  
  
  
