{% extends 'customer_order/base.html' %}

{% block content %}

    <div class="card">


        <div class="card-body">

            <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;

            <strong>   

    
                {{record.customer_email}}
    
            </strong>
    
            <hr> 

            <p> <strong> ID: </strong> {{record.id}} </p>

            <p> <strong> customer_mail: </strong> {{record.customer_email}} </p>

            <p> <strong> customer_Phone: </strong> {{record.customer_phone}} </p>
            <p> <strong> product_category: </strong> {{record.product_category}} </p>
            <p> <strong> product_name: </strong> {{record.product_name}} </p>
            <p> <strong> product_quantity: </strong> {{record.product_quantity}} </p>

            <p> <strong> Creation date: </strong> {{record.creation_date}} </p>


        </div>


    </div>

    <br>

    <a href="{% url 'dashboard' %}" class="btn btn-secondary"> Return Dashboard&nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>

    &nbsp;

    <a href="{% url 'update-record' record.id %}" class="btn btn-info"> Update order &nbsp; <i class="fa fa-plus" aria-hidden="true"></i> </a>

    &nbsp;

    <a href="{% url 'delete-record' record.id %}" class="btn btn-danger"> Delete &nbsp;<i class="fa fa-minus-square" aria-hidden="true"></i> </a>


{% endblock %}

