{% extends 'customer_order/base.html' %}

{% block content %}

    <div class="card">


        <div class="card-body">

            <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;

            <strong>   

    
                {{record.author}}
    
            </strong>
    
            <hr> 
            <p> <strong> ID: </strong> {{record.id}} </p>


            <p> <strong> TITLE: </strong> {{record.title}} </p>

            <p> <strong> CONTENT: </strong> {{record.content}} </p>

            <p> <strong> PUBLICATION DATE: </strong> {{record.pub_date}} </p>
            <p> <strong> AUTHOR: </strong> {{record.author}} </p>
            <p><strong> Image:{% if record.photo%}
                <img src="{{record.photo.url}}" alt="{{record.photo}}" width="200" height="200">
              {%endif%}</strong></p>
            
                     <a href="{% url 'dashboard' %}" class="btn btn-success"> Return Your Blog&nbsp;<span class="glyphicon  
                        glyphicon-backward"></span></a>
                   
                  
                
                 <a href="{% url 'dashboardall' %}" class="btn btn-success"> Return Browse All&nbsp; <span class="glyphicon  
                    glyphicon-backward"></span></a>
                      


        </div>


    </div>
    {%endblock%}